.BlogEntry1
{
    display: flex;
    justify-content: center;
    width: 25%;
    color: lightblue;
    font-size: 28px;
    border: solid;
    border-color: blue;
    border-width: 3px;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
}