.bottomdiv
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
}
.aboutme
{
    border: solid;
    border-width: 3px;
    border-color: #add8e6;
    width: 35%;
    height: 20%;
    background-color: #202427;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.abouttitle
{
    color: lightblue;
    font-size:48px;
    margin-top: 25px;
}
.aboutmecontent
{
    margin-top: 50px;
    color: lightblue;
    padding: 5px;
    text-align: center;
}
.codeexamples
{
    border: solid;
    border-width: 3px;
    border-color: lightblue;
    width: 35%;
    height: 20%;
    background-color: #202427;
}
.row1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.HTML
{
    height: 20%;
    width: 20%;
}
.Python
{
    height: 20%;
    width: 20%;
}
.C{
    height: 20%;
    width: 20%;
}
.row2
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.MySQL
{
    height: 20%;
    width: 20%;
}
.JavaScript
{
    height: 20%;
    width: 20%;
}
.Reactimg
{
    height: 20%;
    width: 20%;
}
